<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <connectionStrings>
    <!--<add name="DocumentEntities" connectionString="metadata=res://*/DocumentDB.csdl|res://*/DocumentDB.ssdl|res://*/DocumentDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\mssqllocaldb;initial catalog=MyTempDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="DocumentEntities" connectionString="metadata=res://*/DocumentDB.csdl|res://*/DocumentDB.ssdl|res://*/DocumentDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;server=tcp:signme-document.database.windows.net,1433;Initial Catalog=DocumentDB;Persist Security Info=False;User ID=matt;Password=Myazurepassword01;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;&quot;"  providerName="System.Data.EntityClient" />
</connectionStrings>
</configuration>
