@{
    ViewData["Title"] = "My Signature";
}
<h2>@ViewData["Title"]</h2>
<hr />
<div id="app">
    <div class="row">
        <div v-if="!vm">
            <div class="col-xs-12">
                No signature on file. Sign below.

            </div>

        </div>
        <div v-if="vm" class="col-xs-12">
            <h4>Your Current Signaure</h4>
            <img  v-bind:src="signedfile" alt="Your Current Signature" />

        </div>
    </div>
    <hr />
    <h4>Upload new signature here</h4>
    <div class="row">

        <div class="col-xs-9">
            <div style="border:1px solid black;margin:25px;" id="signature"></div>

        </div>
        <div class="col-xs-3">
            <div class="buttons">
                <button class="btn btn-lg btn-info" v-on:click="Reset">Clear</button>
                <button class="btn btn-lg btn-danger" v-on:click="Delete">Delete</button>
                <button class="btn btn-lg btn-primary" v-on:click="Submit">Submit</button>
            </div>
        </div>
    </div>

</div>


<style>

    #signature {
        -ms-touch-action: none;
    }



    .buttons {
        display: grid;
    }

        .buttons button {
            margin-top: 20px;
        }

        .buttons .btn-primary {
            padding: 45px;
        }
</style>

@section scripts{
    <script src="~/lib/jSignature/jSignature.min.js"></script>

    <script>
        var vm = @Json.Serialize(Model);
        var $sigdiv;
        var app;
        $(function () {
  
            console.log("loaded")
            app = new Vue({
                el: '#app',
                data: {
                    signedfile: "data:image/png;base64," + (vm != null ? vm.signature : ''),
                    vm: vm
                },
                methods: {
                    Delete: function () {
                        if (confirm("Are you sure")) {
                            $.post('/Signature/Delete', {}, function () {
                                app.vm = null;
                                alert('Delete Successful');

                            }).fail(function () {
                                alert("Delete Failed");
                            });
                        }

                    },
                    Submit: function () {
                        var data = {
                            signature: $sigdiv.jSignature("getData", "image")[1]
                        };
                        $.post('/Signature/Update', data, function (result) {
                            app.signedfile = "data:image/png;base64," + result;
                            app.vm = { signature: result };
                            app.Reset();
                        });

                    },
                    Reset: function () {
                        $sigdiv.jSignature('reset')
                    }

                }
            })
            
            $sigdiv = $("#signature")
            $sigdiv.jSignature();
        })


       


    </script>

}
