@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-xs-12">
        <form action="/home/UploadFile"
              class="dropzone"
              id="my-awesome-dropzone">
            <div class="dz-message" style="display:none">Drop a file here to Sign</div>
        </form>

    </div>


    <style>
     

        form {
            border-radius: 5px;
            font-family: cursive;
            font-size: 2em;
        }

        .row {
            margin-top: 25px;
        }

    
    </style>
    @section scripts{
        <script>
            var uploadedFile;
            Dropzone.options.myAwesomeDropzone = {
                init: function () {
                    $('.dz-message').show();
                    this.on("success", function (file, results) {
                        window.location = '/Home/SignedFile/' + results;
                    });
                }
            };
        </script>

    }

</div>
