@{
    ViewData["Title"] = "Home Page";
}
@*<div>
    Document Count: @ViewBag.Count
</div>*@
<div>
    <div class="row">
        <div class="col-xs-12">
            <form action="/home/UploadFile"
                  class="dropzone"
                  id="my-awesome-dropzone">
                <div class="dz-message" style="display:none">Drop a file here to Sign</div>
            </form>

        </div>
    </div>

    <style>

        form {
            border-radius: 5px;
            font-family: cursive;
            font-size: 2em;
        }

        .row {
            margin-top: 25px;
        }

    
    </style>
    @section scripts{
        <script>
            Dropzone.options.myAwesomeDropzone = {
                init: function () {
                    $('.dz-message').show();
                    this.on("success", function (file, results) {
                        window.location = '/Document/' + results;
                    });
                }
            };
        </script>

    }

</div>
