@model SignMe3.ViewModels.SignFileViewModel


@{
    ViewData["Title"] = "Home Page";
}
<div id="app" v-cloak>
    <h2>{{vm.filename}}</h2>
    <hr />
    <div class="row buttons">
        <div class="col-xs-6">

            <div>
                <a class="btn btn-primary btn-lg"  download="SignedFile.pdf" v-bind:href="uploadedFile">Download File</a>
            </div>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-primary btn-lg">Save to REDocs</button>

        </div>
       
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12">

            <div>
                <div id="doc" v-on:click="updateImage" >
                
                    <img v-if="!signed" id="drag" style="display:none;position:absolute" src="~/images/Matt Signature-small.png" alt="Alternate Text" />
                    <canvas v-on:click="updateImage" style="border:1px solid black" id="the-canvas"></canvas>
                </div>
            </div>

        </div>
        <div class="col-xs-3 col-sm-9">
            <h2>Activity History</h2>
            <hr />
            <div>
                <div v-for="item in history">
                    {{ item.status }} by {{item.userName}} on {{item.insertDate}}
                </div>
            </div>


        </div>


    </div>
</div>
<style>
    #the-canvas {
        cursor: pointer;
    }

    .row {
        margin-top: 25px;
    }

    [v-cloak] {
        display: none;
    }

    .buttons .btn{
        padding:50px;
        width:100%
        /*margin:10px;
        width:25em;*/
    }
</style>


@section scripts{
    <script>

            var vm = @(Html.Raw(Json.Serialize(Model)));

        $(function () {
            GetActiviyHistory();
            
            renderPDF(atob(vm.base64), document.getElementById('doc'));
            //loadPDF(atob(vm.base64))
                //.then(function () {
                //var canvas  = $('#the-canvas')
                //canvas.on('mousemove', function (e) {
                //    var pageX = document.getElementById("x");
                //    var pageY = document.getElementById("y");
                //    pageX.innerText = e.pageX;
                //    pageY.innerText = e.pageY;

                //    var pageX = document.getElementById("pagex");
                //    var pageY = document.getElementById("pagey");
                //    pageX.innerText = canvas.offset().left;
                //    pageY.innerText = canvas.offset().top;

                //    //if (app.signed == false) {
                //    //    $('#drag').show();
                //    //    console.log("left", canvas.offset().left)
                //    //    $('#drag').css({
                //    //        left: e.pageX - canvas.offset().left,
                //    //        top: e.pageY - canvas.offset().top * .3
                //    //    });
                //    //}

                //});

            //})
            
        });

            var app = new Vue({
                el: '#app',
                data: {
                    signed: false,
                    uploadedFile: "data:application/pdf;base64," +  vm.base64,
                    history: vm.activityHistory,
                    vm:vm
                },
                methods: {
                    
                    updateImage: function (event) {
                        console.log("click", event.pageX);
                        console.log("click", event.pageY);

                        var x = event.pageX - $('#the-canvas').offset().left;
                        var y = event.pageY - $('#the-canvas').offset().top;//- $('.navbar').height();
                        $.blockUI();

                        $.post('/Document/SignImage', {
                            x: x,
                            y: y,
                            id: vm.documentID//,
                            //base64: vm.base64
                        }).then(function (result) {
                            //location.reload();
                            loadPDF(atob(result)).then(function () {
                                $.unblockUI();
                                app.signed = true;

                            }).then(function () {
                                GetActiviyHistory();
                            });

                        }).fail(function () {
                            $.unblockUI();
                        })
                    }
                }
            })

            var GetActiviyHistory = function () {
                return $.post("/Document/ActivityHistory", { id: vm.documentID }).then(function (results) {
                    app.history = results;

                })

            }
            var loadPDF = function (pdfData) {
                var loadingTask = PDFJS.getDocument({ data: pdfData });

                return loadingTask.promise.then(function (pdf) {
                    console.log('PDF loaded');

                    var renderPage = function (page) {
                        console.log('Page loaded');

                        var scale = 1.5;
                        var viewport = page.getViewport(scale);

                        // Prepare canvas using PDF page dimensions
                        var maincanvas = document.getElementById('the-canvas');
                        var canvas = document.createElement('canvas');
                        var context = canvas.getContext('2d');

                        //var bb = document.querySelector('.col-xs-9')
                        //    .getBoundingClientRect(),
                        //    width = bb.right - bb.left;


                        canvas.height = viewport.height;
                        canvas.width = viewport.width;

                        // Render PDF page into canvas context
                        var renderContext = {
                            canvasContext: context,
                            viewport: viewport
                        };
                        var renderTask = page.render(renderContext);
                        renderTask.then(function () {
                            console.log('Page rendered');
                        });
                        
                        $('#app').append(canvas)
                    }
                    // Fetch the first page
                    var pageNumber = 1;
                    pdf.getPage(pageNumber).then(renderPage);
                    pdf.getPage(2).then(renderPage);

                }, function (reason) {
                    console.error(reason);
                });

            };

            function renderPDF(pdfData, canvasContainer, options) {
                console.log("caled");
                var options = options || { scale: 1 };

                function renderPage(page) {
                    console.log(page);
;                    var viewport = page.getViewport(options.scale);
                    var canvas = document.createElement('canvas');
                    var ctx = canvas.getContext('2d');
                    var renderContext = {
                        canvasContext: ctx,
                        viewport: viewport
                    };

                    canvas.height = viewport.height;
                    canvas.width = viewport.width;
                    canvasContainer.appendChild(canvas);

                    page.render(renderContext);
                }

                function renderPages(pdfDoc) {
                    console.log(pdfDoc.numPages)
                    for (var num = 1; num <= pdfDoc.numPages; num++)
                        pdfDoc.getPage(num).then(renderPage);
                }
                PDFJS.disableWorker = true;
                PDFJS.getDocument({ data: pdfData }).then(renderPages);
            }   


    </script>

}