@{
    ViewData["Title"] = "Documents";
}
<h2>@ViewData["Title"]</h2>
<hr />

@section scripts{
<script>

    var vm = @(Html.Raw(Json.Serialize(Model)));
    var app = new Vue({
        el: '#app',
        data: {
            vm: vm
        }
    });

</script>

}

<table class="table" id="app">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                DocumentName
            </th>
            <th>
                Last Activity
            </th>
            <th>
                Signed
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="doc in vm">
            <td>{{doc.id}}</td>
            <td>{{doc.name}}</td>
            <td>{{doc.lastactivity}}</td>
            <td>{{doc.lastsignedon}}</td>
            <td>
                
                <a v-bind:href="'/Document/' + doc.id" class="btn btn-primary">View Document</a>
            </td>
        </tr>
    </tbody>
</table>
